<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <main id="intro_ajax">
      <ul id="cars"></ul>
    </main>
    <button id="ajax_button">Run AJAX Request to Root</button>
    <button id="ping_button">Run AJAX Request to Ping/Pong</button>
    <button id="count_button">Run AJAX Request to Count</button>
    <button id="time_button">Run AJAX Request to Time</button>
    <button id="car_button">Run AJAX Request to A Car </button>

  </body>
</html>
